<h1>Listing Posts</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Content</th>
      <th>Views</th>
    </tr>
  </thead>
  <tbody>
    <%= for post <- @posts do %>
      <tr>
        <td><%= post.title %></td>
        <td><%= post.content %></td>
        <td><%= post.views %></td>
      </tr>
    <% end %>
  </tbody>
</table>
