<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <%= csrf_meta_tag() %>
    <%= live_title_tag assigns[:page_title] || "Edwardzhou", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/app.css")}/>
    <script defer phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>
  </head>
  <body>
    <header>
      <section>
        <nav class="container flex justify-between px-4 py-8 mx-auto bg-white">
          <div class="hidden space-x-8 lg:flex">
            <ul class="flex">
              <li class="w-32 h-10 mr-6 border-2 border-solid"><a class="flex items-center justify-center h-full" href="">Home</a></li>
              <li class="w-32 h-10 mr-6 border-2 border-solid"><a class="flex items-center justify-center h-full" href="">About Us</a></li>
              <li class="w-32 h-10 mr-6 border-2 border-solid"><a class="flex items-center justify-center h-full" href="">Blogs</a></li>
              <li class="w-32 h-10 mr-6 border-2 border-solid"><a class="flex items-center justify-center h-full" href="">Our Team</a></li>
              <li class="w-32 h-10 mr-6 border-2 border-solid"><a class="flex items-center justify-center h-full" href="">Contact Us</a></li>
            </ul>
          </div>
          <div class="flex lg:hidden">
            <svg
                xmlns="http://www.w3.org/2000/svg"
                class="w-6 h-6"
                fill="none"
                viewBox="0 0 24 24"
                stroke="currentColor"
                >
                <path
                    stroke-linecap="round"
                    stroke-linejoin="round"
                    stroke-width="2"
                    d="M4 6h16M4 12h16M4 18h16"
                    />
            </svg>
          </div>
        </nav>
      </section>
    </header>
    <%= @inner_content %>
  </body>
</html>
